{{ %FILTERS }}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Quotes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family={{ font }}&text={{ unique_chars }}&subset=latin">

        <!-- Main CSS. -->
        <style>
            html {
                font-size: 1em;
                line-height: 1.4;
            }

            body {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                border-top: 10px solid;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                transition: background-color .3s;
            }

            ::selection {
                text-shadow: none;
            }

            .button {
                padding: .5rem;
                display: inline-block;
                border: 2px solid;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .2s;
            }

            .button:hover,
            .button.hollow {
                border: 2px solid;
                background-color: transparent;
            }

            .button[data-loading] {
                opacity: .5;
            }

            .main-content {
                flex: 1;
            }

            .footer {
                margin-top: 3rem;
                background-color: rgba(0, 0, 0, 0.05);
                padding: 2rem 1rem;
                text-align: center;
                color: #efefef;
            }

            .quote, #quote {
                width: 85%;
                margin: 0 auto 5rem auto;
            }

            @media (min-width: 650px) {
                .quote, #quote {
                    width: 75%;
                }
            }

            @media (min-width: 1000px) {
                .quote, #quote {
                    width: 60%;
                }
            }

            .quote-text {
                font-size: 1.75rem;
                line-height: 1.25;
                opacity: 1;
                transition: opacity .3s;
            }

            @media (min-width: 650px) {
                .quote-text {
                    font-size: 2.5rem;
                }
            }

            @media (min-width: 1000px) {
                .quote-text {
                    font-size: 3rem;
                }
            }

            .wf-loading .quote-text {
                opacity: 0;
            }

            .quote-text.loading {
                opacity: 0;
            }

            .quote-attribution {
                text-align: right;
                font-size: 1rem;
            }

            @media (min-width: 1000px) {
                .quote-attribution {
                    font-size: 1.5rem;
                }
            }

            .quote-link {
                color: #fefefe;
                padding: .5rem .5rem;
                background-color: rgba(0, 0, 0, 0.3);
                transition: all .5s;
                text-decoration: none;
                text-transform: none;
            }

            .actions {
                margin: 0 auto;
                text-align: center;
            }

            .actions p {
                margin-top: 3rem;
                font-weight: bold;
            }

            .actions-top {
                width: 95%;
                padding: 1.5rem 0;
            }

            .actions-bottom {
                width: 95%;
                border-top: 3px solid;
            }

            @media (min-width: 650px) {
                .actions-bottom {
                    width: 75%;
                }
            }

            @media (min-width: 1000px) {
                .actions-bottom {
                    width: 60%;
                }
            }
        </style>



        <!-- Starting Dynamic CSS. -->
        <style>
            .quote-text {
                font-family: {{ font }};
            }

            a:hover,
            .quote-link,
            ::selection,
            .button,
            .button.hollow:hover,
            .button.hollow[data-loading] {
                color: #{{ color_one }};
            }

            body,
            .quote-link:hover {
                background-color: #{{ color_one }};
            }

            body,
            a,
            .quote-link:hover,
            .button:hover,
            .button.hollow,
            .footer {
                color: #{{ color_two }};
            }

            body,
            .actions,
            .footer,
            .button:hover,
            .button.hollow {
                border-color: #{{ color_two }};
            }

            a:hover,
            .quote-link,
            ::selection,
            .button,
            .button.hollow:hover,
            .button.hollow[data-loading] {
                background-color: #{{ color_two }};
            }
        </style>
    </head>

    <body data-colorone="{{ color_one }}" data-colortwo="{{ color_two }}" data-font="{{ font }}">
        <div class="actions actions-top">
            <a id="js-new-font" class="button hollow" href="{{ quoteLink.font }}">
                <span class="label">New Font</span>
            </a>
            <a id="js-new-colors" class="button hollow" href="{{ quoteLink.colors }}">
                <span class="label">New Colors</span>
            </a>

            <a id="js-new-quote" class="button hollow" href="{{ quoteLink.quote }}">
                <span class="label">New Quote</span>
            </a>
        </div>

        <main class="main-content">
            <blockquote id="quote">
                <p id="js-quote-text" class="quote-text">{{ quote.quoteText }}</p>
                <footer class="quote-attribution">
                    <cite>
                        <a id="js-quote-link" class="button" href="http://forismatic.com/en/{{ quote.quoteLink }}">
                            <span id="js-quote-author" class="quote-author">{{ quote.quoteAuthor }}</span>
                        </a>
                    </cite>
                </footer>
            </blockquote>

            <div class="actions actions-bottom">
                <p>What do you think about this accessible color combination?</p>
                <a id="js-colors-vote-link" class="button" href="http://randoma11y.com/#/?hex={{ color_one }}&compare={{ color_two }}">Vote on these colors</a>
            </div>
        </main>

        <footer class="footer">
            <p class="colophon">
              Sources:
              <a id="js-quote-source" href="{{ quoteLink.all }}">quote</a> |
              <a id="js-font-link" href="https://fonts.google.com/specimen/{{ font }}">font</a>
                <br><br>
                Colors: <a href="http://www.randoma11y.com/">randoma11y.com</a> |
                Quotes: <a href="http://forismatic.com/">forismatic.com</a><br>
                Made for <a href="https://a-k-apart.com/">10k Apart</a>
            </p>
        </footer>

        <script src="js/main.js" async></script>
        <script>
            App.init();
        </script>

        <script>

        </script>
    </body>
</html>
