{{ %FILTERS }}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Quotes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family={{ font }}&text={{ unique_chars }}&subset=latin">

        <!-- Main CSS. -->
        <style>
            html {
                font-size: 1em;
                line-height: 1.4;
            }

            body {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                border-top: 10px solid;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                transition: background-color .3s;
            }

            ::selection {
                text-shadow: none;
            }

            .button {
                padding: .5rem;
                display: inline-block;
                border: 2px solid;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .2s;
            }

            .button:hover,
            .button.hollow {
                border: 2px solid;
                background-color: transparent;
            }

            .main-content {
                flex: 1;
            }

            .footer {
                margin-top: 3rem;
                background-color: rgba(0, 0, 0, 0.05);
                padding: 2rem 1rem;
                text-align: center;
                color: #efefef;
            }

            .quote, #quote {
                width: 60%;
                margin: 0 auto 5rem auto;
            }

            .quote-text {
                font-size: 3rem;
                line-height: 1.25;
                opacity: 1;
                transition: opacity .3s;
            }

            .wf-loading .quote-text {
                opacity: 0;
            }

            .quote-text.loading {
                opacity: 0;
            }

            .quote-attribution {
                text-align: right;
                font-size: 1.5rem;
            }

            .quote-link {
                color: #fefefe;
                padding: .5rem .5rem;
                background-color: rgba(0, 0, 0, 0.3);
                transition: all .5s;
                text-decoration: none;
                text-transform: none;
            }

            .actions {
                width: 60%;
                margin: 0 auto;
                text-align: center;
            }

            .actions p {
                margin-top: 3rem;
                font-weight: bold;
            }

            .actions-top {
                padding: 1.5rem 0;
            }

            .actions-bottom {
                border-top: 3px solid;
            }


            .ladda-button {
                position: relative;
                /*background: none;*/
                /*border: 0;*/
                /*padding: 0.8em 1em;*/
                /*font-size: 1.3em;*/
                cursor: pointer;
                outline: 0;

                -webkit-appearance: none;
                -webkit-font-smoothing: antialiased;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ladda-button[data-loading] {
                cursor: default;
            }

            /*.ladda-button.orange {*/
                /*background: #ea8557;*/
                /*color: #fff;*/
                /*border-radius: 2px;*/
                /*border: 1px solid transparent;*/
            /*}*/
            /*.ladda-button.orange:hover {*/
                /*border-color: rgba( 0, 0, 0, 0.07 );*/
                /*background-color: #ffa96c;*/
            /*}*/
            /*.ladda-button.orange[data-loading] {*/
                /*border-color: rgba( 0, 0, 0, 0.07 );*/
                /*background-color: #999;*/
            /*}*/


            /* Spinner animation */
           /* .ladda-button .spinner {
                position: absolute;
                width: 32px;
                height: 32px;
                top: 50%;
                margin-top: -16px;
                opacity: 0;
                background-image: url(img/loader.svg);
            }*/
            .ladda-button .spinner path {
                fill: black;
            }

            .ladda-button,
            .ladda-button .spinner,
            .ladda-button .label {
                /*-webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;*/
                /*-moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;*/
                /*-ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;*/
                /*transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;*/
            }

            .ladda-button.zoom-in,
            .ladda-button.zoom-in .spinner,
            .ladda-button.zoom-in .label,
            .ladda-button.zoom-out,
            .ladda-button.zoom-out .spinner,
            .ladda-button.zoom-out .label {
                /*-webkit-transition: 0.3s ease all;*/
                /*-moz-transition: 0.3s ease all;*/
                /*-ms-transition: 0.3s ease all;*/
                /*transition: 0.3s ease all;*/
            }

            .ladda-button.zoom-out {
                overflow: hidden;
            }
            .ladda-button.zoom-out .spinner {
                /*left: 50%;*/
                /*margin-left: -16px;*/
/**/
                /*-webkit-transform: scale( 2.5 );*/
                /*-moz-transform: scale( 2.5 );*/
                /*-ms-transform: scale( 2.5 );*/
                /*transform: scale( 2.5 );*/
            }
            .ladda-button.zoom-out .label {
                position: relative;
                display: inline-block;
            }

            .ladda-button.zoom-out[data-loading] .label {
                /*opacity: 0;*/
/**/
                /*-webkit-transform: scale( 0.5 );*/
                /*-moz-transform: scale( 0.5 );*/
                /*-ms-transform: scale( 0.5 );*/
                /*transform: scale( 0.5 );*/
            }
            .ladda-button.zoom-out[data-loading] .spinner {
                opacity: 1;

                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                transform: none;
            }

            svg.svg {
                /*width: 100;*/
                display: block;
                fill: #{{ color_two }};
                margin: auto;
                stop-color: #{{ color_two }};
                position: absolute;
                top: 24%;
                left: 38%;
            }
        </style>



        <!-- Starting Dynamic CSS. -->
        <style>
            .quote-text {
                font-family: {{ font }};
            }

            a:hover,
            .quote-link,
            ::selection,
            .button,
            .button.hollow:hover,
            .button.hollow[data-loading] {
                color: #{{ color_one }};
            }

            body,
            .quote-link:hover {
                background-color: #{{ color_one }};
            }

            body,
            a,
            .quote-link:hover,
            .button:hover,
            .button.hollow,
            .footer {
                color: #{{ color_two }};
            }

            body,
            .actions,
            .footer,
            .button:hover,
            .button.hollow {
                border-color: #{{ color_two }};
            }

            a:hover,
            .quote-link,
            ::selection,
            .button,
            .button.hollow:hover,
            .button.hollow[data-loading] {
                background-color: #{{ color_two }};
            }

            .button.hollow[data-loading] {
                opacity: .5;
            }
        </style>
    </head>

    <body data-colorone="{{ color_one }}" data-colortwo="{{ color_two }}" data-font="{{ font }}">
        <div class="actions actions-top">
            <!--<p>Generate quote with:</p>-->
            <a id="js-new-font" class="button hollow ladda-button orange zoom-out" data-loading href="{{ quoteLink.font }}"><span class="label">New Font</span>
                <!--<svg class="svg" width="20" height="20" viewBox="0 0 38 38"><defs><linearGradient id="a" x1="8%" x2="65.7%" y1="0%" y2="23.9%"><stop class="stop"  stop-color="#fff" stop-opacity="0" offset="0%"/><stop class="stop" stop-color="#fff" stop-opacity=".6" offset="63.1%"/><stop class="stop" stop-color="#fff" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><path stroke="url(#a)" stroke-width="2" d="M36 18C36 8 28 0 18 0"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/></path><circle cx="36" cy="18" r="1" fill="#fff"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"/></circle></g></svg>-->
            </a>
            <a id="js-new-colors" class="button hollow ladda-button orange zoom-out" href="{{ quoteLink.colors }}">
                <span class="label">New Colors</span>
                <!--<img src="img/loader.svg" class="spinner">-->
            </a>

            <a id="js-new-quote" class="button hollow ladda-button orange zoom-out" href="{{ quoteLink.quote }}">
                <span class="label">New Quote</span>
                <!--<img src="img/loader.svg" class="spinner">-->
            </a>
        </div>

        <main class="main-content">
            <blockquote id="quote">
                <p id="js-quote-text" class="quote-text">{{ quote.quoteText }}</p>
                <footer class="quote-attribution">
                    <cite>
                        <a id="js-quote-link" class="button" href="http://forismatic.com/en/{{ quote.quoteLink }}">
                            <span id="js-quote-author" class="quote-author">{{ quote.quoteAuthor }}</span>
                        </a>
                    </cite>
                </footer>
            </blockquote>

            <div class="actions actions-bottom">
                <p>What do you think about this accessible color combination?</p>
                <a id="js-colors-vote-link" class="button" href="http://randoma11y.com/#/?hex={{ color_one }}&compare={{ color_two }}">Vote on these colors</a>
            </div>
        </main>

        <footer class="footer">
            <p class="colophon">
              Sources:
              <a id="js-quote-source" href="{{ quoteLink.all }}">quote</a> |
              <a id="js-font-link" href="https://fonts.google.com/specimen/{{ font }}">font</a>
                <br><br>
                Colors: <a href="http://www.randoma11y.com/">randoma11y.com</a> |
                Quotes: <a href="http://forismatic.com/">forismatic.com</a><br>
                Made for <a href="https://a-k-apart.com/">10k Apart</a>
            </p>
        </footer>

        <script src="js/main.js" async></script>
        <script>
            App.init();
        </script>

        <script>
            var buttons = document.querySelectorAll( '.ladda-button' );

            Array.prototype.slice.call( buttons ).forEach( function( button ) {

                var resetTimeout;
                var origText = button.innerHTML;
                console.log(origText);

                button.addEventListener( 'click', function() {

//                    console.log(button);

                    if( typeof button.getAttribute( 'data-loading' ) === 'string' ) {
                        button.removeAttribute( 'data-loading' );
                        button.innerHTML = origText;
                    }
                    else {
                        button.setAttribute( 'data-loading', '' );
                        button.innerHTML = 'Loading...';
                    }

                    clearTimeout( resetTimeout );
                    resetTimeout = setTimeout( function() {
                        button.removeAttribute( 'data-loading' );
                        button.innerHTML = origText;
                    }, 2000 );

                }, false );

            } );
        </script>
    </body>
</html>
