html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-top: 10px solid;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    transition: background-color .3s;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.button {
    padding: .5rem;
    display: inline-block;
    border: 2px solid;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
}

.button:hover,
.button.hollow {
    border: 2px solid;
    background-color: transparent;
}

.main-content {
    flex: 1;
}

.footer {
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2rem 1rem;
    text-align: center;
    color: #efefef;
}

.quote {
    width: 60%;
    margin: 7rem auto 5rem auto;
}

.quote-text {
    font-size: 3rem;
    line-height: 1.25;
    opacity: 1;
    transition: opacity .3s;
}

.wf-loading .quote-text {
    opacity: 0;
}

.quote-attribution {
    text-align: right;
    font-size: 1.5rem;
}

.quote-link {
    color: white;
    padding: .5rem .5rem;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .5s;
    text-decoration: none;
    text-transform: none;
}

.actions {
    width: 60%;
    margin: 0 auto;
    border-top: 3px solid;
    text-align: center;
}

.actions p {
    margin-top: 3rem;
    font-weight: bold;
}
