html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: #C42B3A;
    color: #FFE8D1;

    display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.main-content {
    flex: 1;
}

.quote {
    width: 60%;
    margin: 0 auto;
}

.quote-text {
    font-size: 3rem;
    line-height: 1;
}

.quote-attribution {
    text-align: right;
    font-size: 1.5rem;
}

.quote-link {
    color: white;
    padding: .5rem .5rem;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .5s;
    text-decoration: none;
}

.quote-link:hover {
    background-color: rgba(0, 0, 0, 0.74);
}


footer.footer-main {
    background-color: rgba(0, 0, 0, 0.18);
    padding: 2rem 1rem;
    text-align: center;
    color: #efefef;
}
